<footer class="footer-navbar">
  <div class="languages">
    <%= t ".Languages" %>
    <%= link_to t(".En"), locale:"en" %>
    <%= link_to t(".Vi"), locale:"vi" %>
    <% provide :title, t(".title1") %>
  </div>
  <p class="botto-text"> <%= t ".designed" %> <%= t ".author" %></p>
</footer>
