<html>
  <head>
    <title>
      <%= maketitle(yield(:title))%>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div class="container">
      <div><%= render  "layouts/nav" %></div>
      <br><br><br><br>
        <div>
          <% if notice %>
          <p class="alert alert-success">
            <%= notice %>
          </p>
          <% end %>
        </div>
        <div>
          <% if alert %>
          <p class="alert alert-danger">
          <%= alert %>
        </p>
        <% end %>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
